$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import 'colors';


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 50px;
  background-color: $body-background;
  font-family: $mainfont;
}

.navbar {
  margin-bottom: 40px;

}

.navbar-inverse {
  background-color: $whitecolor;
  border: none;
   
}

body {
  .navbar-inverse {

    .navbar-nav {  
      
      li { 
        
         a {
          color: $font-color;
          font-size: 15px;
        }
      }
    } 
  }
}

.navbar-inverse {

  .navbar-nav {  
    
    li { 
      
      a:hover {
        color: #fff;
        background-color: $main-green;
      }
    }
  } 
}

.navbar-inverse {
  .navbar-nav {
    li {
      a:focus {
        color: #fff;
        background-color: $main-green;
      }
    }
  }
}  

.navbar-inverse {
  .navbar-brand {
  font-weight: 600;
  color: $font-color;
  }
}

.navbar-inverse {
  .navbar-brand:hover {
  color: $main-green;
  }
}

.navbar-inverse {
  .navbar-brand:focus {
  color: $font-color;
  }
}

.navbar-inverse {
  #brand-narrow {
  font-weight: 200;
  }
}

.soog {
  top: 10px;
  left: 64px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

 .input-group-addon:not(:first-child):not(:last-child), 
 .input-group-btn:not(:first-child):not(:last-child), 
 .input-group .form-control:not(:first-child):not(:last-child) 
 { @include border-radius(4px 0px 0px 4px); }

.no-radius {
  border-radius: 0px;
}

 .bred {
  width: 60px;
  background-color: #2a96d4;
  border-color: #2a96d4;
 }

 .cart-icon {
  padding: 0px 8px 6px 4px;
 }

.count-icon {
  padding: 0px 8px 6px 8px;
 }

.carousel-caption {
  
  h3 {
    font-family: $h3font;
    font-size: 60px;
    font-weight: 600;
  }
}

.carousel-caption{
  bottom:50px;
}

.carousel-caption {
    
    .btn {
      margin-top:10px;
      width: 158px;
      font-size: 13px;
      background-color: $main-green;
    }
}

a.ship {
  background-color: #f9ad0b;
  height:30px;
  border-radius: 15px;
  color: $whitecolor;
  padding: 4px 14px;
  font-size: 11px;
}

.firstpan {
  margin-top:40px;  
    .panel-heading{
      background-color: $whitecolor;
      font-family: $lightfont;
      font-size: 24px;
    }
}

.products {
  display: block;  
  margin-right: auto;  
  margin-left: auto; 
}

input.ng-invalid.ng-touched {
  background-color: pink;
}

input.ng-valid.ng-touched {
  background-color: lightgreen;
}

.spaceout {
  height: 100px;
}


.footer {
  padding: 25px;
  background-color: #202326;
    h4 {
      color: #a3a9ad;
      font-size: 16px;
    }
}

.ikon {
  padding:1px;
  margin-bottom: 10px;
}

.foolinks {

  a {
    display:block;
    color: $whitecolor;
    padding:4px 4px 4px 0px;
    font-family: $lightfont;
  }
  a:hover {
    text-decoration: none;
    color: $main-green;
  }
}

.lastlinks {
  
  a {
    color: $whitecolor;
    padding:4px 4px 4px 0px;
    font-family: $lightfont;
  }
  a:hover {
    text-decoration: none;
    color: $main-green;
  }
}

.lastlinks {
  
  p {
    color: $whitecolor;
    font-family: $lightfont;
  }
}